apiVersion: v1
kind: PersistentVolume
metadata:
  name: paperless-nfs
spec:
  storageClassName: ""
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy:
  mountOptions:
    - hard
    - nfsvers=4.1
  nfs:
    path: /export/paperless
    server: elysium.oceanus.chaos
    readOnly: false
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: paperless-nfs
spec:
  storageClassName: ""
  volumeName: paperless-nfs
  accessModes:
    - ReadWriteMany
  volumeMode: Filesystem
  resources:
    requests:
      storage: 1G
