---
apiVersion: v1
kind: Secret
metadata:
  name: internal-ca
stringData:
  tls.crt: |
{%- filter indent(width=3) %}

{{ certmanager.tls.crt }}
{%- endfilter %}
  tls.key: |
{%- filter indent(width=3) %}

{{ certmanager.tls.key }}
{% endfilter %}
