---
apiVersion: v1
kind: Secret
metadata:
  name: internal-ca
stringData:
  tls.crt: |
{%- filter indent(width=3) %}

{{ certauthorities['change.pem'] -}}
{{ certauthorities['chaos.pem'] }}
{%- endfilter %}
  tls.key: |
{%- filter indent(width=3) %}

{{ certmanager.key }}
{% endfilter %}
