---
apiVersion: v1
kind: Secret
metadata:
  name: op-credentials
stringData:
  1password-credentials.json: |
    {% filter indent(width=4, first=False) %}
    {{ onepassword.credentials }}
    {%- endfilter %}
  token: |
    {% filter indent(width=4, first=False) %}
    {{ onepassword.token }}
    {%- endfilter %}
