---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
  namespace: flux-system
stringData:
  CLUSTER_DOMAIN: "#{ cluster_domain }#"
  PHYSICAL_DOMAIN: "#{ physical_domain }#"
  EXTERNAL_DOMAIN: "#{ external_domain }#"
  STORAGE_DOMAIN: "#{ storage_domain }#"
