---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: grafana
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: onedev-secret
    template:
      engineVersion: v2
      data:
        INIT_POSTGRES_DBNAME: onedev
        INIT_POSTGRES_HOST: postgres16-rw.database.svc.cluster.local
        INIT_POSTGRES_USER: &dbUser "{{ .ONEDEV_POSTGRES_USER }}"
        INIT_POSTGRES_PASS: &dbPass "{{ .ONEDEV_POSTGRES_PASS }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
        hibernate_connection_url: jdbc:postgresql://postgres16-rw.database.svc.cluster.local:5432/onedev
        hibernate_connection_username: *dbUser
        hibernate_connection_password: *dbPass
        initial_password: "{{ .ONEDEV_ADMIN_PASS }}"
  dataFrom:
    - extract:
        key: onedev
    - extract:
        key: cloudnative-pg
