---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: onedev
spec:
  interval: 30m
  chart:
    spec:
      chart: onedev
      version: 11.0.0
      sourceRef:
        kind: HelmRepository
        name: onedev
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
#  postRenderers:
#    - kustomize:
#        patchesStrategicMerge:
#          - kind: Service
#            apiVersion: v1
#            metadata:
#              name: onedev-ssh
#              namespace: ci-system
#              labels:
#                expose-bgp: "true"
#          - kind: StatefulSet
#            apiVersion: apps/v1
#            metadata:
#              name: onedev
#              namespace: ci-system
#            spec:
#              template:
#                spec:
#                  containers:
#                    - name: onedevserver
#                      volumeMounts:
#                        - name: cacerts
#                          mountPath: /etc/ssl/certs/java/cacerts
#                          subPath: cacerts
#                  volumes:
#                    - name: cacerts
#                      secret:
#                        secretName: cacerts
  values:
    database:
      external: true
      type: "postgresql"
    onedev:
      trustCerts:
        secretName: "certauthorities"
      initSettings:
        user: admin
        email: admin@chaos
        serverUrl: https://onedev.${CLUSTER_DOMAIN}
        sshRootUrl: ssh://git.${CLUSTER_DOMAIN}
    service:
      separateSSH:
        enabled: true
        type: "LoadBalancer"
        port: 22
        annotations:
          coredns.io/hostname: git.${CLUSTER_DOMAIN}
    ingress:
      enabled: false
    persistence:
      size: 100Gi
    env:
      - name: hibernate_connection_url
        valueFrom:
          secretKeyRef:
            key: hibernate_connection_url
            name: onedev-secret
      - name: hibernate_connection_username
        valueFrom:
          secretKeyRef:
            key: hibernate_connection_username
            name: onedev-secret
      - name: hibernate_connection_password
        valueFrom:
          secretKeyRef:
            key: hibernate_connection_password
            name: onedev-secret
      - name: initial_password
        valueFrom:
          secretKeyRef:
            key: initial_password
            name: onedev-secret
