---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: pg-cluster
spec:
  instances: 3
  primaryUpdateStrategy: unsupervised
  storage:
    size: 20Gi
  imageName: ghcr.io/cloudnative-pg/postgresql:16.2
  superuserSecret:
    name: cloudnative-pg-secret
  enableSuperuserAccess: true
  nodeMaintenanceWindow:
    inProgress: false
    reusePVC: true
  monitoring:
    enablePodMonitor: true
    # Ref: https://github.com/cloudnative-pg/cloudnative-pg/issues/2501
    podMonitorMetricRelabelings:
      - { sourceLabels: ["cluster"], targetLabel: cnpg_cluster, action: replace }
      - { regex: cluster, action: labeldrop }
  resources:
    requests:
      cpu: 500m
    limits:
      memory: 4Gi
  postgresql:
    parameters:
      max_connections: "400"
      shared_buffers: 256MB
