---
apiVersion: v1
kind: Secret
metadata:
  name: external-ca
  namespace: media
stringData:
  ca.crt: |
#%- filter indent(width=3) %#

#{ certauthorities['cosmos.pem'] -}#
#{ certauthorities['chaos.pem'] }#
#%- endfilter %#
