---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./bjw-s.yaml
  - ./cilium.yaml
  - ./jetstack.yaml
  - ./metrics-server.yaml
  - ./postfinance.yaml
  - ./stakater.yaml
  - ./xenitab.yaml
  - ./k8s-gateway.yaml
  - ./backube.yaml
  - ./external-secrets.yaml
  - ./piraeus.yaml
  - ./longhorn.yaml
  - ./1password.yaml
  - ./cloudnative-pg.yaml
  - ./bitnami.yaml
  - ./onedev.yaml
  - ./prometheus-community.yaml
