---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: homepage
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: homepage-secret
    template:
      engineVersion: v2
      data:
        services.yaml: |
          - External:
              - Cockpit:
                  icon: cockpit
                  href: https://cockpit.chaos
                  description: Cockpit Server Management
              - OPNsense:
                  icon: opnsense
                  href: https://charon.chaos
                  description: OPNsense Firewall
                  widget:
                    type: opnsense
                    url: https://charon.chaos
                    username: "{{ .OPN_USER }}"
                    password: "{{ .OPN_PASS }}"
              - Switch:
                  icon: mdi-switch
                  href: https://switch.${EXTERNAL_DOMAIN}
                  description: Managed Switch Web Panel
              - Glances:
                  icon: glances
                  href: https://glances.${EXTERNAL_DOMAIN}
                  description: Glances Device Statistics
        widgets.yaml: |
          - kubernetes:
              cluster:
                show: true
                cpu: true
                memory: true
                showLabel: true
                label: "Winds"
              nodes:
                show: true
                cpu: true
                memory: true
                showLabel: true
          - datetime:
              text_size: 4x1
              locale: en-GB
              format:
                hour12: true
                timeStyle: short
                dateStyle: short
  dataFrom:
    - extract:
        key: opnsense
