---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: homepage
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: homepage-secret
    template:
      engineVersion: v2
      data:
        services.yaml: |
          - External:
              - Cockpit:
                  icon: cockpit
                  href: https://cockpit.chaos
                  description: Cockpit Server Management
              - OPNsense:
                  icon: opnsense
                  href: https://charon.chaos
                  description: OPNsense Firewall
                  widget:
                    type: opnsense
                    url: https://charon.chaos
                    username: "{{ .OPN_USER }}"
                    password: "{{ .OPN_PASS }}"
              - Switch:
                  icon: mdi-switch
                  href: https://switch.${EXTERNAL_DOMAIN}
                  description: Managed Switch Web Panel
              - Glances:
                  icon: glances
                  href: https://glances.${EXTERNAL_DOMAIN}
                  description: Glances Device Statistics
          - Tools:
              - Gluetun:
                  icon: gluetun
                  description: VPN client
                  widget:
                    type: gluetun
                    url: http://gluetun.downloads.svc.cluster.local:8000
              - qBittorrent:
                  icon: qbittorrent
                  description: Bittorrent Client
                  href: https://qbittorrent.winds.chaos
                  namespace: downloads
                  app: qbittorrent
                  widget:
                    type: qbittorrent
                    url: http://qbittorrent.downloads.svc.cluster.local:8080
                    username: admin
                    password: "{{ .QBITTORRENT_PASS }}"
              - Sonarr:
                  icon: sonarr
                  description: TV Show Manager
                  href: https://sonarr.winds.chaos
                  namespace: downloads
                  app: sonarr
                  widget:
                    type: sonarr
                    url: http://sonarr.downloads.svc.cluster.local:80
                    key: "{{ .SONARR_API_KEY }}"
                    enableQueue: true
              - Radarr:
                  icon: radarr
                  description: Movie Manager
                  href: https://radarr.winds.chaos
                  namespace: downloads
                  app: radarr
                  widget:
                    type: radarr
                    url: http://radarr.downloads.svc.cluster.local:80
                    key: "{{ .RADARR_API_KEY }}"
                    enableQueue: true
              - Prowlarr:
                  icon: prowlarr
                  description: Index Manager
                  href: https://prowlarr.winds.chaos
                  namespace: downloads
                  app: prowlarr
                  widget:
                    type: prowlarr
                    url: http://prowlarr.downloads.svc.cluster.local:80
                    key: "{{ .PROWLARR_API_KEY }}"
              
        widgets.yaml: |
          - kubernetes:
              cluster:
                show: true
                cpu: true
                memory: true
                showLabel: true
                label: "Winds"
              nodes:
                show: true
                cpu: true
                memory: true
                showLabel: true
          - datetime:
              text_size: 4x1
              locale: en-GB
              format:
                hour12: true
                timeStyle: short
                dateStyle: short
  dataFrom:
    - extract:
        key: opnsense
    - extract:
        key: sonarr
    - extract:
        key: radarr
    - extract:
        key: qbittorrent
    - extract:
        key: prowlarr
