---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app onedev
  namespace: flux-system
spec:
  targetNamespace: ci-system
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/apps/ci-system/onedev/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: {{ cluster.name }}
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  patches:
    - target:
        kind: StatefulSet
        name: onedev
        namespace: ci-system
      patch: |-
        apiVersion: apps/v1
        kind: StatefulSet
        metadata:
          name: onedev
        spec:
          template:
            spec:
              containers:
                - name: onedev
                  volumeMounts:
                    - name: cacerts
                      mountPath: /etc/ssl/certs/java/cacerts
                      subPath: cacerts
              volumes:
                - name: cacerts
                  secret:
                    secretName: cacerts
