---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app onedev
  namespace: flux-system
spec:
  targetNamespace: ci-system
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/apps/ci-system/onedev/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: #{  cluster.name  }#
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
