domain_name: "#{ cluster.nodes.domain_name }#"
#% if cluster.nodes.talos_patches is defined and cluster.nodes.talos_patches | length > 0 %#
patches:
#% for patch in cluster.nodes.talos_patches %#
- |-
#%- filter indent(width=2) %#

#{ patch }#
#% endfilter %#
#% endfor %#
#% endif %#
